.hamburger {
	width: 4rem;
	height: 4rem;
	background-color: white;
	position: fixed;
	top: 1rem;
	right: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		font-size: 3rem;
		cursor: pointer;
	}
}
.sidenav {
	width: 250px;
	height: 100vh;
	padding: 3rem;
	position: fixed;
	top: 0;
	left: -50rem;
	box-shadow: $right_box_shadow;
	background-color: $sidenav_bg;
	overflow-y: scroll;
	&::-webkit-scrollbar{
		width: 0.4rem;
		background: transparent;
	}
	&::-webkit-scrollbar-thumb{
		background: hsla(0, 0%, 0%, 0.2);
		border-radius: 0.2rem;
	}
	.menuitem {
		margin-bottom: 2rem;
		font-family: $main_font;
		font-size: 1.8rem;
		letter-spacing: 0.2rem;
		p {
			cursor: pointer;
			&:hover {
				color: hsla(0, 0%, 0%, 0.5);
			}
			&:active {
				color: white;
			}
		}
		.sub-menu {
			padding: 3rem 0 0.8rem 2rem;
			&item {
				margin-bottom: 2rem;
				font-family: $main_font;
				font-size: 1.8rem;
			}
		}
		.social-container {
			width: 100%;
			height: 4rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.social-icon {
				width: 3rem;
				height: 3rem;
				margin-right: 1rem;
			}
		}
	}
}

@media (min-width: 375px) {

	.sidenav {
		width: 30rem;
	}

}

@media (min-width: 769px) {

	.hamburger {
		display: none;
	}
	.sidenav {
		display: none;
	}

}
