.hamburger {
	width: 4rem;
	height: 4rem;
	background-color: white;
	position: fixed;
	top: 1rem;
	right: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	.bar-container {
		width: 4rem;
		height: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		.bar {
			width: 25px;
			height: 4px;
			border-radius: 4px;
			background-color: #333;
		}
	}
}
.sidenav {
	width: 30rem;
	height: 100vh;
	padding: 3rem;
	// display: none;
	position: fixed;
	top: 0;
	left: -50rem;
	box-shadow: 0.25rem 0 0.25rem hsla(0, 0%, 53%, 1);
	background-color: $sidenav_bg;
	.menuitem {
		margin-bottom: 2rem;
		font-family: $main_font;
		font-size: 1.8rem;
		letter-spacing: 0.2rem;
		p:active {
			color: white;
		}
		.sub-menu {
			padding: 3rem 0 0.8rem 2rem;
			&item {
				margin-bottom: 2rem;
				font-family: $main_font;
				font-size: 1.8rem;
				p:active {
					color: white;
				}
			}
		}
	}
}
