<!DOCTYPE html>
<div class="hamburger" ng-click="snCtrl.toggleSideNav( snCtrl.menuItems )">
	<p id="hamburger-symbol">☰</p>
</div>
<nav class="sidenav">
	<ul>
		<li class="menuitem" ui-sref="home">
			<p>PORTFOLIO</p>
		</li>
		<li class="menuitem" ui-sref="about">
			<p>ABOUT</p>
		</li>
		<li class="menuitem" ui-sref="contact">
			<p>CONTACT</p>
		</li>
		<li class="menuitem">
			<div class="social-container">
				<div class="social-icon">
					<a href="https://facebook.com" target="_blank"><img src="/bundle/assets/icons/Facebook_Solid.svg" alt="Facebook"></a>
				</div>
				<div class="social-icon">
					<a href="https://instagram.com" target="_blank"><img src="/bundle/assets/icons/Instagram_Solid.svg" alt="Instagram"></a>
				</div>
			</div>
		</li>
	</ul>
</nav>
