<div class="hamburger" ng-click="sideNavCtrl.toggleSideNav()">
	<div class="bar-container">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	</div>
</div>
<nav class="sidenav">
	<ul>
		<li class="menuitem" ng-repeat="menuItem in sideNavCtrl.menuItems">
			<p ng-click="menuItem.showSubMenu = !menuItem.showSubMenu">{{ menuItem.title }}</p>
			<ul class="sub-menu" ng-show="menuItem.showSubMenu">
				<li class="sub-menuitem" ng-repeat="talent in menuItem.talent">
					<p>{{ talent.name }}</p>
				</li>
			</ul>
		</li>
		<li class="menuitem" ui-sref="about">
			<p>ABOUT</p>
		</li>
		<li class="menuitem" ui-sref="contact">
			<p>CONTACT</p>
		</li>
		<li class="menuitem">
			<div class="social-container">
				<div class="social-icon">
					<a href="#"><img src="./assets/icons/1476860449_Facebook_Solid.svg" alt=""></a>
				</div>
				<div class="social-icon">
					<a href="#"><img src="./assets/icons/1476860445_Instagram_Solid.svg" alt=""></a>
				</div>
			</div>
		</li>
	</ul>
</nav>
