.headernav {
  width: auto;
  height: $headernav_height;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .item-container {
    width: auto;
    display: flex;
    justify-content: flex-start;
    p {
      margin-right: 2rem;
      font-size: 1.2rem;
    }
    .menuitem {
      cursor: pointer;
    }
    #lastMenuItem {
      margin-right: 0;
    }
  }
}