.wrapper {
  .about-container {
    margin: 0 auto;
    p {
      font-weight: 300;
    }
  }
}





@media (min-width: 769px) {
  .about-container {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .about-container {
    width: 60%;
  }
}

@media (min-width: 1441px) {
  .about-container {
    width: 80rem;
  }
}
