<section class="container">
  <div class="about-container">
    <p>Since our inception in 2016, Pulp Talent Agency has been engaged in the business of creative collaboration with gifted artists and discerning clients from the worlds of finance, fashion, advertising, music and publishing. Our approach is curatorial, focusing on quality, synergy and consistency with a goal of continually challenging the status quo. We cultivate a boutique sensibility, offering an intimate connection that belies our expanded roster. This has led to many enduring allegiances with both artists and employees who have found in Pulp Talent Agency an ally, a kindred spirit and an agency of record.</p>
  </div>
</section>