<!-- test -->
<!DOCTYPE html>
<div class="wrapper">

	<div class="talent-title">
		<h2>{{ talentCtrl.talent.name }}</h2>
		<p>{{ talentCtrl.talent.dept }}</p>
	</div>

	<div class="masonry" data-masonry="{ 'gutter': '.gutter-sizer', 'percentPosition': true }">
		<div class="gutter-sizer"></div>
    <div masonry-brick class="masonry-brick" ng-repeat="photo in talentCtrl.bricks" ng-click="talentCtrl.showModalOfPhoto( photo )">
			<p class="photo-description">{{ photo.desc }}</p>
      <img ng-src="{{ photo.amazonS3.Location }}" alt=""/>
    </div>
	</div>

</div>
<div class="fade" ng-if="talentCtrl.selectedPhoto" ng-click="talentCtrl.selectedPhoto = !talentCtrl.selectedPhoto">
	<p>✕</p>
</div>
<div class="overlay" ng-if="talentCtrl.selectedPhoto">
	<img ng-src="{{ talentCtrl.selectedPhoto.amazonS3.Location }}" alt="" ng-click="talentCtrl.selectedPhoto = !talentCtrl.selectedPhoto">
</div>
