<!DOCTYPE html>
<div class="wrapper">

	<div class="talent-title">

	</div>

	<div class="masonry" data-masonry="{ 'gutter': '.gutter-sizer', 'percentPosition': true }">
		<div class="gutter-sizer"></div>
    <div masonry-brick class="masonry-brick" ng-repeat="brick in homeCtrl.bricks">
			<div class="photo-description">
				<p>{{ brick.talent.name }}</p>
				<p class="photo-description-sub">{{ brick.talent.department[ 0 ] }}</p>
			</div>
      <img ng-src="{{ brick.amazonS3.small500width.Location }}" ui-sref="talent( { category: brick.talent.department[ 0 ], talentid: brick.talent._id, talentname: brick.talent.name } )" alt="" />
    </div>
	</div>

</div>
