
// BASE
@import './styles/base/fonts';
@import './styles/base/variables';
@import './styles/base/reset';
@import './styles/base/my-base';

// INDEX
@import './index';

// MASONRY
@import './styles/base/masonry';

// COMPONENTS
@import './components/headernav/headerNav-styles';
@import './components/sidenav/sideNav-styles';

// VIEWS
@import './views/home/home';
@import './views/talent/talent';
@import './views/about/about';
@import './views/contact/contact';
@import './views/upload/upload';
