.wrapper {
	// padding-top: 2rem;
	width: 320px;
	margin: 0 auto;
	.talent-title {
		width: 100%;
		height: auto;
		padding: 2rem 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		h2 {
			font-style: $main_font;
			font-size: 2rem;
			border-bottom: 1px solid #000;
			margin-bottom: 1rem;
		}
	}
	.masonry {
		width: 100%;
		margin: 0 auto;
		.gutter-sizer {
			width: 0;
		}
		.masonry-brick {
			width: 100%;
			margin-bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 100%;
			}
			.photo-description {
				display: none;
			}
		}
	}
}

// MODAL OVERLAY
// ============================================================
.overlay {
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  background-color: #ffffff;
  z-index: 100;
  overflow: hidden;
	img {
		max-width: 80vw;
		max-height: 90vh;
	}
}
// MODAL FADE
// ============================================================
.fade {
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: black;
  opacity: .90;
  width: 100%;
  height: 100%;
  z-index: 99;
	p {
		font-size: 4rem;
		position: fixed;
		top: 3rem;
		right: 3rem;
		color: #999;
		cursor: pointer;
		transition: color 0.2s ease;
		&:hover {
			color: #fff;
		}
	}
}


@media (min-width: 320px) {
	.wrapper {
		width: 100%;
	}
}

@media (min-width: 415px) {
	.wrapper {
		.masonry {
			.masonry-brick {
				width: 50%;
			}
		}
	}
}

@media (min-width: 768px) {
	.wrapper {
		width: 98%;
		.talent-title {
			height: 8rem;
		}
		.masonry {
			.gutter-sizer {
				width: 1%;
			}
			.masonry-brick {
				width: 24%;
				margin-bottom: 1%;
				img {
					transition: opacity 0.5s ease;
					width: 100%;
				}
				.photo-description {
					transition: display 0.5s ease;
					display: none;
				}
				&:hover {
					.photo-description {
						font: Helvetica, sans-serif;
						font-weight: 600;
						display: block;
						position: absolute;
						color: black;
						// z-index: 5;
					}
					img {
						opacity: 0.3;
					}
				}
				&:active {
					img {
						transition: opacity 0.2s ease;
						opacity: 0.6;
					}
				}
			}
		}
	}
	.overlay {
		padding: 25px;
	}
}

@media (min-width: 1441px) {
	.wrapper {
		width: 98%;
		max-width: 2000px;
		.masonry {
			.gutter-sizer {
				width: 1%;
			}
			.masonry-brick {
				width: 19%;
				margin-bottom: 1%;
			}
		}
	}
}
