$main_font: "Source Sans Pro", Helvetica, Arial, sans-serif;

// COLORS
$sidenav_bg: #eee;

$title_height: 6rem;
$headernav_height: 3.5rem;
$totalheader_height: 9.5rem;

$line_color: 1px solid hsla(0, 0%, 0%, 0.2);
$right_box_shadow: 0.1rem 0 0.3rem hsla(0, 0%, 0%, 0.2);
$bottom_box_shadow: 0 0.1rem 0.3rem hsla(0, 0%, 0%, 0.2);
